*{
	margin: 0;
	padding: 0;
}

:root{
	--Purple: 	#854dff;
	--Light-red: 	#ff5757;
	--White: #ffffff;
	--Off-white: 	#f0f0f0;
	--Light-grey: #dbdbdb;
	--Smokey-grey: 	#716f6f;
	--Off-black: 	#141414;

}


/* regular */
@font-face {
	font-family: regularFont;
	src: url("./assets/fonts/Poppins-Regular.ttf");
}

/* italic */
@font-face {
	font-family: italicFont;
	src: url("./assets/fonts/Poppins-Italic.ttf");
}

/* bold */
@font-face {
	font-family: boldFont;
	src: url("./assets/fonts/Poppins-Bold.ttf");
}

/* boldItalic */
@font-face {
	font-family: boldItalicFont;
	src: url("./assets/fonts/Poppins-BoldItalic.ttf");
}

/* extraBold */
@font-face {
	font-family: extraboldFont;
	src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

/* extra boldItalic */
@font-face {
	font-family: extraBoldItalicFont;
	src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}


html body {
	background-color: var(--Off-white);
}

.wrap{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.calendar{
	background-color: var(--White);
	padding: 3rem;
	/* padding-right: 9rem; */
	border-radius: 15px 15px 80px 15px;
}

.input-info{
	display: flex;
	margin-bottom: 2rem;
	/* border: 2px solid green; */
}

.date{
	display: flex;
	gap: 2rem;
	border-style: solid;
	border-width: 1px;
	border-color: transparent transparent var(--Light-grey) transparent;
	/* width: 100%; */
	width: 450px;
	height: 6rem;
	/* padding-right: 4rem; */
	padding-bottom: 1rem;
	/* border: 2px solid blue; */
}

.date-item{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

label{
	color: var(--Off-black);
	font-size: .6rem;
	letter-spacing: 1px;
	font-family: regularFont;
}

input{
	font-family: BoldFont;
	outline: none;
	font-size: 1.4rem;
	padding-left: 1rem;
	border: 1px solid var(--Light-grey);
	width: 6rem;
	padding-block: .4rem;
	/* height: 4rem; */
	border-radius: 5px;
}

input:focus{
	border: 1px solid var(--Purple);
}

.submit{
	position: relative;
}

#calculate-btn{
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: none;
	background-color: var(--Purple);
	color: var(--White);
	top: 65%;
	/* left: 15%; */
}

#calculate-btn:hover{
	background-color: var(--Off-black);
	cursor: pointer;
}

i{
	font-size: 34px;
}


h1{
	font-size: 3rem;
	font-family: extraBoldItalicFont;
}

span{
	color: var(--Purple);
}

.empty-field{
	font-family: ItalicFont;
	font-size: .7rem;
	color: var(--Light-red);
	margin-bottom: 1rem;
	display: none;
}

.invalid-date{
	font-family: ItalicFont;
	font-size: .7rem;
	color: var(--Light-red);
	margin-bottom: 1rem;
	display: none;
}